{% extends 'newsfeed/base.html' %}

{% block content %}
    <div class="post">
        {% if post.edit %}
        <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        <a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
        {% endif %}
        <h1>{{ post.title }}</h1>
        <p>{{ post.content|safe }}</p>
        <a class="btn btn-default" href="{% url 'post_upvote' pk=post.pk %}"><span class="glyphicon glyphicon-thumbs-up"></span>{{ post.upvote.count}}</a>
    </div>
{% endblock %}
